body {
    background-color: azure;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dark-mode{
    background-color: black;
    color: azure;
}
.nametitle {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
a.resume button, a.CL button {
    text-decoration: none;
    color: black;
}
header {
    font-weight: bolder;
    font-size: larger;
    align-content: center;
}
nav {
    padding:0.01em 16px;
}
