body {
    background-color: azure;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dark-mode{
    background-color: black;
    color: azure;
}
header {
    font-weight: bolder;
    font-size: larger;
    align-content: center;
}
nav {
    padding:0.01em 16px;
}
