body {
    background-color: azure;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dark-mode{
    background-color: black;
    color: azure;
}
.nametitle {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
a.resumebutton, a.CLbutton {
    text-decoration: none;
}
a.resumebutton:hover, a.CLbutton:hover {
    color:brown;
}
header {
    font-weight: bolder;
    font-size: larger;
    align-content: center;
}
nav {
    padding:50px;
    font-size: xx-large;
}
label.darkmode {
    background-color: white;
    border: 2px solid #555;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 50px;
    transition: all ease-in-out 0.3s;
    width: 90px;
    height: 60px;
}
.darkmode input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    cursor: pointer;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 1px #3d3d3d;
  }
  
  .slider:before {
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.intro{
    padding: 2rem;
    display: block;
    border: none;
    border-radius: 50px;
    background-color: rgb(189, 204, 223);
    margin: auto;
}
.techniques{
    display: inline-block;
    padding: 3rem;
    align-self: center;
    text-align: center;
}
img.profile{
    display: flexbox;
    float: left;
    width: 30%;
    border-radius: 50%;
    padding-top: 0; padding-left: 0; padding-right: 30px;

}
div.intropara{
    float: left;
    width: 70%;
    padding: 20px;
}
h2{
    text-align: center;
    font-size: larger;
}
